*{
    box-sizing: border-box;
}

html{
    height: 100%;
}

body{
    min-height: 100%;
    margin: 0;
    font-family: 'Arial', sans-serif;    
    font-size: 2vh;
    letter-spacing: 0.08vh;
    line-height: 1.5;
}


/* Transparent glass header */
header {
  background-color: rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(8px);
  color: white;
  padding: 1rem 2vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 10;
}

/* Logo + text */
.logo-container {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

.logo {
  height: 10vh;
  width: auto;
}

/* Navigation bar */
nav {
  display: flex;
  align-items: center;
  gap: 2vw;
  margin-right: 4vw;
}

nav a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease;
}

nav a:hover {
  color: #feda4a;
}


img{
    vertical-align: middle;
    max-width: 100%;
    display: inline-block;
}

h2{
    font-size: 8vh;
    background: gold;
    background: -webkit-linear-gradient(
        to right,
        gold,
        #ee0979
    );
    background: linear-gradient(
        to right,
        gold,
        #ee0979
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.inline-block{
    max-width: 100%;
    display: inline-block;
}

.page-wrapper{
    z-index: 0;
    position: relative;
}

.container{
    width: 90vw;
    max-width: 1360px;
    margin-left: auto;
    margin-right: auto; 
}

.margin-bottom-medium{
    margin-bottom: 4vh;
}

.paragraph-large{
    letter-spacing: -0.02em;
    font-size: 20px;
}

.section-timeline-heading{
    background-color: black;
}

.padding-vertical-xlarge{
    padding-top: 120px;
    padding-bottom: 120px;
}

.timeline-image-wrapper{
    margin-bottom: 1.2vh;
}
.timeline-main-heading-wrapper{
    color: white;
    text-align: center;
    max-width: 640px;
    margin-left: auto;
    margin-right: auto;
}

.timeline-component{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1120px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    position: relative
}

.timeline-item{
    z-index: 2;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    grid-template-rows: auto;
    grid-template-columns: 1fr 20vh 1fr;
    grid-auto-columns: 1fr;
    padding-top: 80px;
    padding-bottom: 80px;
    display: grid;
    position: relative;
}

.timeline-left{
    text-align: right;
    justify-content: flex-end;
    align-items: stretch;
}

.timeline-center{
    justify-content: center;
    display: flex;
}

.timeline-date-text{
    color: white;
    letter-spacing: -0.03em;
    font-size: 6vh;
    font-weight: 600;
    line-height: 1.2;
    position: sticky;
    top: 50vh;
}


.timeline-text{
    color: white;
    font-size: 2.5vh;
    font-weight: 500;
    line-height: 1.3;
}

.timeline-circle{
    background-color: white;
    border-radius: 100%;
    width: 1.5vh;
    min-width: 1.5vh;
    max-width: 1.5vh;
    height: 1.5vh;
    min-height: 1.5vh;
    max-height: 1.5vh;
    position: sticky;
    top: 50vh;
    box-shadow: 0 0 0 4px black;    
}

.timeline-progress{
    z-index: -2;
    background-color: #414144;
    width: 3px;
    height: 100%;
    position: absolute;
}

.timeline-progress-bar{
    z-index: -1;
    background: gold;
    background: -webkit-linear-gradient(
        to bottom,
        gold,
        #ee0979
    );
    background: linear-gradient(
        to bottom,
        gold,
        #ee0979
    );
    width: 3px;
    height: 50%;
    position: fixed;
    inset: 0 auto 50vh;
}

.section-timeline{
    z-index: -3;
    background-color: black;
    position: relative;
}

.margin-bottom-xlarge{
    margin-bottom: 40px;
}

.timeline_link{
    opacity: 0.6;
    color: white;
    letter-spacing: 0.8px;
    text-transform: uppercase;
    border-radius: 8px;
    align-items: center;
    font-size: 14px;
    font-weight: 700;
    line-height: 1.3;
    text-decoration: none;
    transition: opacity 0.3s;
    display:flex;   
}

.timeline_link:hover{
    opacity: 1;
}

.link-icon{
    width: 12px;
    height: 12px;
    margin-left: 8px;
}

.inline-block{
    display: inline-block;
}

.text-color-lightgrey{
    color: #ffffffa6;
}

.overlay-fade-top{
    background-image: linear-gradient(black, #0a0a0a00);
    height: 80px;
    position: absolute;
    inset: 0% 0% auto;
}

.overlay-fade-bottom{
    background-image: linear-gradient(black, #0a0a0a00);
    height: 80px;
    position: absolute;
    inset: 0% 0% auto;
}


@media screen and (max-width: 768px){
    h2{font-size: 40px;}
    .paragraph-large{font-size: 18px;}
    .padding-vertical-xlarge{
        padding-top: 80px;
        padding-bottom: 80px;
    }
    .timeline-item{
        grid-template-columns: 64px 1fr;
        width: 100%
    }

    .timeline-left{
        text-align: left;
        grid-area: 1/2/2/3;
    }

    .timeline-center{
        justify-content: flex-start;
        grid-area: 1/1/3/2;
    }

    .timeline-right{
        grid-area: span 1 / span 1 / span 1 / span 1;
    }

    .timeline-date-text{
        margin-bottom: 24px;
        font-size: 36px;
    }

    .timeline-text{
        font-size: 24;
    }

    .timeline-progress{
        left: 4.5px;
    }

    .margin-bottom-xlarge{
        margin-bottom: 48px;
    }
}
